In [18]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
from colocacion_de_creditos.utils.paths import data_dir

In [21]:
df_colocacion=pd.read_parquet(data_dir("raw","df_final_estudiantes.parquet"))

In [22]:
df_colocacion.head()

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,MONTO_COLOCADO,fecha_liquidacion,CANAL_VENTA,CONTACTABILIDAD_CELULAR,CONTACTABILIDAD_EMAIL,CONTACTABILIDAD_FIJO,CONTACTABILIDAD_TOTAL,COLOCADO
0,0523373,Producto1,202408,SEGMENTO1,2024-08-22,2024-09-13,NORTE,19,5,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
1,0523373,Producto1,202405,SEGMENTO1,2024-05-11,2024-06-11,NORTE,16,2,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
2,0523373,Producto1,202406,SEGMENTO1,2024-06-12,2024-07-12,NORTE,17,3,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
3,0523374,Producto1,202403,SEGMENTO1,2024-03-11,2024-04-08,NORTE,21,7,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,AC,AC,AC,0
4,0523374,Producto1,202402,SEGMENTO1,2024-02-08,2024-03-10,NORTE,20,6,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,AC,AC,AC,0

In [23]:
df_colocacion.shape

(5178528, 27)

In [24]:
df_colocacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5178528 entries, 0 to 5178527
Data columns (total 27 columns):
 #   Column                   Dtype
---  ------                   -----
 0   IDENTIFICACION           object
 1   PRODUCTO                 object
 2   PERIODO_COMERCIAL        int64
 3   SEGMENTO                 object
 4   FECHA_CARGA              object
 5   FECHA_VIGENCIA           object
 6   REGION                   object
 7   N_VECES_CAMPAÑA          int64
 8   N_VECES_CAMPAÑA_CONT     int64
 9   TIPO_APROBACION          object
 10  CANAL                    object
 11  CLIENTE_BG               object
 12  IVC                      int64
 13  score_aceptacion         int64
 14  SUB_PERFIL_RIESGOS       object
 15  SCORE                    int64
 16  CUPO                     float64
 17  APROBACION_MES_ANTERIOR  object
 18  PRODUCTO_MES_ANTERIOR    object
 19  MONTO_COLOCADO           float64
 20  fecha_liquidacion        object
 21  CANAL_VENTA              object
 22  CONTACTABILIDAD_CELULAR  object
 23  CONTACTABILIDAD_EMAIL    object
 24  CONTACTABILIDAD_FIJO     object
 25  CONTACTABILIDAD_TOTAL    object
 26  COLOCADO                 int64
dtypes: float64(2), int64(7), object(18)
memory usage: 1.0+ GB

In [25]:
df_colocacion.isna().sum()

IDENTIFICACION                   0
PRODUCTO                         0
PERIODO_COMERCIAL                0
SEGMENTO                         0
FECHA_CARGA                      0
FECHA_VIGENCIA                   0
REGION                           0
N_VECES_CAMPAÑA                  0
N_VECES_CAMPAÑA_CONT             0
TIPO_APROBACION                  0
CANAL                            0
CLIENTE_BG                       0
IVC                              0
score_aceptacion                 0
SUB_PERFIL_RIESGOS               0
SCORE                            0
CUPO                             0
APROBACION_MES_ANTERIOR     603226
PRODUCTO_MES_ANTERIOR       603226
MONTO_COLOCADO             5115038
fecha_liquidacion          5115038
CANAL_VENTA                5115038
CONTACTABILIDAD_CELULAR     170496
CONTACTABILIDAD_EMAIL        82292
CONTACTABILIDAD_FIJO        792987
CONTACTABILIDAD_TOTAL            0
COLOCADO                         0
dtype: int64

In [26]:
porcentaje_nulos = df_colocacion.isnull().mean() * 100
porcentaje_nulos

IDENTIFICACION              0.000000
PRODUCTO                    0.000000
PERIODO_COMERCIAL           0.000000
SEGMENTO                    0.000000
FECHA_CARGA                 0.000000
FECHA_VIGENCIA              0.000000
REGION                      0.000000
N_VECES_CAMPAÑA             0.000000
N_VECES_CAMPAÑA_CONT        0.000000
TIPO_APROBACION             0.000000
CANAL                       0.000000
CLIENTE_BG                  0.000000
IVC                         0.000000
score_aceptacion            0.000000
SUB_PERFIL_RIESGOS          0.000000
SCORE                       0.000000
CUPO                        0.000000
APROBACION_MES_ANTERIOR    11.648600
PRODUCTO_MES_ANTERIOR      11.648600
MONTO_COLOCADO             98.773976
fecha_liquidacion          98.773976
CANAL_VENTA                98.773976
CONTACTABILIDAD_CELULAR     3.292364
CONTACTABILIDAD_EMAIL       1.589100
CONTACTABILIDAD_FIJO       15.312981
CONTACTABILIDAD_TOTAL       0.000000
COLOCADO                    0.000000
dtype: float64

podemos visualizar que las unicos valores nulos que tenemos son , APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR que hace referencia a que quizas no estuvieron en campaña el mes anterior.
las variables de MONTO_COLOCADO,fecha_liquidacion,CANAL_VENTA , tenemos una gran cantidad de valores nulos debido que solo se colocaron 63490 creditos mientras que los otros no.
y tenemos tambien valores nulos en la contactibilidad tanto de email, fijo  y celular que pueden ser posibles debido a que no se proporcionaron datos para ese tipo de contactibilidad.

In [27]:
print(df_colocacion.CONTACTABILIDAD_CELULAR.value_counts())
print(df_colocacion.CONTACTABILIDAD_CELULAR.unique())

CONTACTABILIDAD_CELULAR
AC    4626733
ND     381064
BC        235
Name: count, dtype: int64
['AC' 'ND' None 'BC']

In [28]:
print(df_colocacion.CONTACTABILIDAD_EMAIL.value_counts())
print(df_colocacion.CONTACTABILIDAD_EMAIL.unique())

CONTACTABILIDAD_EMAIL
AC    2804609
MK    1078662
ND     613636
       599329
Name: count, dtype: int64
['MK' 'AC' 'ND' '' None]

In [29]:
print(df_colocacion.CONTACTABILIDAD_FIJO.value_counts())
print(df_colocacion.CONTACTABILIDAD_FIJO.unique())

CONTACTABILIDAD_FIJO
AC    2663348
ND    1721063
BC        703
NV        427
Name: count, dtype: int64
['AC' 'ND' None 'NV' 'BC']

In [30]:
print(df_colocacion.CONTACTABILIDAD_TOTAL.value_counts())
print(df_colocacion.CONTACTABILIDAD_TOTAL.unique())

CONTACTABILIDAD_TOTAL
AC    4783638
ND     394890
Name: count, dtype: int64
['AC' 'ND']

para las variables   APROBACION_MES_ANTERIOR y PRODUCTO_MES_ANTERIOR como estos valores representan una situación donde no se ha tenido ninguna interacción previa, podrías reemplazar los valores nulos por "Ninguno"

In [31]:
columnas_nulos=["APROBACION_MES_ANTERIOR","PRODUCTO_MES_ANTERIOR"]
df_colocacion[columnas_nulos] = df_colocacion[columnas_nulos].fillna('Ninguno')

In [32]:
df_colocacion['MONTO_COLOCADO'] = df_colocacion['MONTO_COLOCADO'].fillna(0)  # Imputar 0 cuando no se ha liquidado
df_colocacion['fecha_liquidacion'] = df_colocacion['fecha_liquidacion'].fillna('Ninguno')  # Fecha predeterminada para registros sin fecha

Se eliminarán las columnas CANAL_VENTA debido a que la variable CANAL ya contiene la misma información, lo que hace que CANAL_VENTA sea redundante en este contexto. Además, las variables relacionadas con los niveles de CONTACTABILIDAD_CELULAR, CONTACTABILIDAD_EMAIL y CONTACTABILIDAD_FIJO también se eliminarán, ya que trabajaremos con la variable CONTACTABILIDAD_TOTAL, la cual ya encapsula el nivel total de contacto del cliente a través de todos los medios posibles.

In [33]:
df_colocacion.drop(columns=["CANAL_VENTA","CONTACTABILIDAD_EMAIL","CONTACTABILIDAD_FIJO","CONTACTABILIDAD_CELULAR"],inplace=True)

In [37]:
df_colocacion.isna().sum()

IDENTIFICACION             0
PRODUCTO                   0
PERIODO_COMERCIAL          0
SEGMENTO                   0
FECHA_CARGA                0
FECHA_VIGENCIA             0
REGION                     0
N_VECES_CAMPAÑA            0
N_VECES_CAMPAÑA_CONT       0
TIPO_APROBACION            0
CANAL                      0
CLIENTE_BG                 0
IVC                        0
score_aceptacion           0
SUB_PERFIL_RIESGOS         0
SCORE                      0
CUPO                       0
APROBACION_MES_ANTERIOR    0
PRODUCTO_MES_ANTERIOR      0
MONTO_COLOCADO             0
fecha_liquidacion          0
CONTACTABILIDAD_TOTAL      0
COLOCADO                   0
dtype: int64

In [38]:
df_colocacion[df_colocacion.IDENTIFICACION=="0171498"]

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,score_aceptacion,SUB_PERFIL_RIESGOS,SCORE,CUPO,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,MONTO_COLOCADO,fecha_liquidacion,CONTACTABILIDAD_TOTAL,COLOCADO
2673113,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,633,PERFIL1,950,3803.09,TIPO1,Producto1,1075.190,2024-02-03,AC,1
2673114,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,633,PERFIL1,950,3803.09,TIPO1,Producto1,1055.705,2024-01-22,AC,1
2673115,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,633,PERFIL1,950,3803.09,TIPO1,Producto1,1192.100,2024-01-31,AC,1
2673116,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,633,PERFIL1,950,3803.09,TIPO1,Producto1,997.250,2024-01-14,AC,1
2673117,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,633,PERFIL1,950,3803.09,TIPO1,Producto1,1055.705,2024-01-26,AC,1

a partir de esta observacion podemos ver que tenemos valores repetidos  ,una persona solo puede estar una vez por perido, pueden haber 2 periodos por mes .
una persona puede dividir las liquidaciones en algunas fechas por ello las filas repetidas.

observamos que las unicas columnas que cambian son el monto colocado ya que se paga el monto por parte  y la fecha de liquidacion que es la fecha en que se hace la acreditacion, por lo que vamos a agrupar por identificador y por fecha de campaña , vamos a sumar los montos colocados y dejar la ultima fecha de liquidacion

In [40]:
df_colocacion=df_colocacion.sort_values(by=["IDENTIFICACION","PERIODO_COMERCIAL","fecha_liquidacion"])

In [41]:
#las unicas variables que se repiten son monto colocado y fecha de liquidacion de estos
columnas_no_cambian=df_colocacion.drop(columns=["MONTO_COLOCADO","fecha_liquidacion"]).columns
columnas_no_cambian

Index(['IDENTIFICACION', 'PRODUCTO', 'PERIODO_COMERCIAL', 'SEGMENTO',
       'FECHA_CARGA', 'FECHA_VIGENCIA', 'REGION', 'N_VECES_CAMPAÑA',
       'N_VECES_CAMPAÑA_CONT', 'TIPO_APROBACION', 'CANAL', 'CLIENTE_BG', 'IVC',
       'score_aceptacion', 'SUB_PERFIL_RIESGOS', 'SCORE', 'CUPO',
       'APROBACION_MES_ANTERIOR', 'PRODUCTO_MES_ANTERIOR',
       'CONTACTABILIDAD_TOTAL', 'COLOCADO'],
      dtype='object')

In [42]:
df_colocacion_agrupado = (
    df_colocacion.groupby(['IDENTIFICACION','PERIODO_COMERCIAL'], as_index=False)
      .agg({
          # Para las columnas categóricas, tomar el primer valor
          **{col: 'first' for col in columnas_no_cambian},
          # Para las columnas numéricas, aplicar la suma
          'fecha_liquidacion': 'last',
          'MONTO_COLOCADO': 'sum'
      })
)

In [43]:
df_colocacion_agrupado[df_colocacion_agrupado.IDENTIFICACION=="0171498"]

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,score_aceptacion,SUB_PERFIL_RIESGOS,SCORE,CUPO,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,CONTACTABILIDAD_TOTAL,COLOCADO,fecha_liquidacion,MONTO_COLOCADO
756741,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,633,PERFIL1,950,3803.09,TIPO1,Producto1,AC,1,2024-02-03,5375.95

observamos que despues de realizar esta transformacion obtenemos los datos ya corregidos , por lo que volvemos a analizar

In [44]:
print("tamaño del los datos antes de tratarlos",df_colocacion.shape)
print("tamaño del los datos despues de tratarlos",df_colocacion_agrupado.shape)

tamaño del los datos antes de tratarlos (5178528, 23)
tamaño del los datos despues de tratarlos (5178206, 23)

In [49]:
#tranaformamos los tipos de datos de fechas a  tipo datetime 
df_colocacion_agrupado.FECHA_CARGA=pd.to_datetime(df_colocacion_agrupado.FECHA_CARGA)
df_colocacion_agrupado.FECHA_CARGA=pd.to_datetime(df_colocacion_agrupado.FECHA_VIGENCIA)

In [50]:
df_colocacion_agrupado.PERIODO_COMERCIAL=pd.to_datetime(df_colocacion_agrupado.PERIODO_COMERCIAL, format='%Y%m')

Anlizamos las varibles numericas y categoricas

In [51]:
numericas_columns = df_colocacion_agrupado.select_dtypes(include=['number']).columns
numericas_columns

Index(['N_VECES_CAMPAÑA', 'N_VECES_CAMPAÑA_CONT', 'IVC', 'score_aceptacion',
       'SCORE', 'CUPO', 'COLOCADO', 'MONTO_COLOCADO'],
      dtype='object')

In [52]:
categorical_columnns = df_colocacion_agrupado.select_dtypes(exclude=['number']).columns
categorical_columnns

Index(['IDENTIFICACION', 'PRODUCTO', 'PERIODO_COMERCIAL', 'SEGMENTO',
       'FECHA_CARGA', 'FECHA_VIGENCIA', 'REGION', 'TIPO_APROBACION', 'CANAL',
       'CLIENTE_BG', 'SUB_PERFIL_RIESGOS', 'APROBACION_MES_ANTERIOR',
       'PRODUCTO_MES_ANTERIOR', 'CONTACTABILIDAD_TOTAL', 'fecha_liquidacion'],
      dtype='object')

In [56]:
for columna in categorical_columnns:
    print(f"columna: {columna} -> valores únicos: {df_colocacion_agrupado[columna].unique()}")

columna: IDENTIFICACION -> valores únicos: ['0000001' '0000002' '0000003' ... '1171032' '1171033' '1171034']
columna: PRODUCTO -> valores únicos: ['Producto1']
columna: PERIODO_COMERCIAL -> valores únicos: <DatetimeArray>
['2024-01-01 00:00:00', '2024-02-01 00:00:00', '2024-03-01 00:00:00',
 '2024-04-01 00:00:00', '2024-05-01 00:00:00', '2024-06-01 00:00:00',
 '2024-07-01 00:00:00', '2024-10-01 00:00:00', '2024-08-01 00:00:00',
 '2024-09-01 00:00:00']
Length: 10, dtype: datetime64[ns]
columna: SEGMENTO -> valores únicos: ['SEGMENTO1' 'SEGMENTO3' 'SEGMENTO4' 'SEGMENTO2' 'SEGMENTO5' 'SEGMENTO6'
 'SEGMENTO7']
columna: FECHA_CARGA -> valores únicos: <DatetimeArray>
['2024-02-08 00:00:00', '2024-03-10 00:00:00', '2024-04-08 00:00:00',
 '2024-05-10 00:00:00', '2024-06-11 00:00:00', '2024-07-12 00:00:00',
 '2024-08-21 00:00:00', '2024-11-17 00:00:00', '2024-09-13 00:00:00',
 '2024-10-18 00:00:00']
Length: 10, dtype: datetime64[ns]
columna: FECHA_VIGENCIA -> valores únicos: ['2024-02-08' '2024-03-10' '2024-04-08' '2024-05-10' '2024-06-11'
 '2024-07-12' '2024-08-21' '2024-11-17' '2024-09-13' '2024-10-18']
columna: REGION -> valores únicos: ['SUR' 'NORTE' 'CENTRO']
columna: TIPO_APROBACION -> valores únicos: ['TIPO1' 'TIPO2']
columna: CANAL -> valores únicos: ['ONLINE' 'PRESENCIAL']
columna: CLIENTE_BG -> valores únicos: ['CLIENTE_TIPO2' 'CLIENTE_TIPO1']
columna: SUB_PERFIL_RIESGOS -> valores únicos: ['PERFIL2' 'PERFIL1' 'PERFIL3' 'PERFIL4']
columna: APROBACION_MES_ANTERIOR -> valores únicos: ['TIPO1' 'Ninguno' 'TIPO2' 'TIPO3']
columna: PRODUCTO_MES_ANTERIOR -> valores únicos: ['Producto1' 'Producto2' 'Ninguno' 'Producto3']
columna: CONTACTABILIDAD_TOTAL -> valores únicos: ['AC' 'ND']
columna: fecha_liquidacion -> valores únicos: ['Ninguno' '2024-07-04' '2024-03-26' '2024-08-06' '2024-08-13'
 '2024-02-17' '2024-06-27' '2024-03-22' '2024-04-18' '2024-04-10'
 '2024-09-02' '2024-07-01' '2024-09-03' '2024-08-12' '2024-07-30'
 '2024-04-17' '2024-01-30' '2024-06-15' '2024-01-21' '2024-06-10'
 '2024-05-06' '2024-05-30' '2024-08-29' '2024-10-18' '2024-10-09'
 '2024-02-21' '2024-07-09' '2024-11-07' '2024-08-07' '2024-11-05'
 '2024-08-26' '2024-10-07' '2024-09-06' '2024-06-05' '2024-07-16'
 '2024-04-25' '2024-02-27' '2024-10-01' '2024-09-26' '2024-02-14'
 '2024-03-27' '2024-05-15' '2024-10-03' '2024-04-22' '2024-09-16'
 '2024-05-01' '2024-04-30' '2024-06-20' '2024-03-14' '2024-07-25'
 '2024-10-16' '2024-07-18' '2024-03-07' '2024-05-09' '2024-06-21'
 '2024-09-23' '2024-09-01' '2024-06-14' '2024-06-06' '2024-09-04'
 '2024-02-25' '2024-07-15' '2024-07-10' '2024-04-26' '2024-08-28'
 '2024-05-31' '2024-11-14' '2024-01-25' '2024-03-05' '2024-08-16'
 '2024-10-28' '2024-08-02' '2024-02-02' '2024-09-13' '2024-04-08'
 '2024-08-27' '2024-09-05' '2024-06-18' '2024-10-05' '2024-10-23'
 '2024-04-01' '2024-01-17' '2024-08-14' '2024-02-16' '2024-11-15'
 '2024-10-10' '2024-05-02' '2024-07-08' '2024-02-29' '2024-06-28'
 '2024-06-17' '2024-05-22' '2024-03-28' '2024-07-29' '2024-08-24'
 '2024-10-14' '2024-08-15' '2024-05-07' '2024-02-01' '2024-03-15'
 '2024-09-10' '2024-10-22' '2024-05-23' '2024-05-17' '2024-04-24'
 '2024-04-23' '2024-07-05' '2024-09-21' '2024-08-08' '2024-01-31'
 '2024-01-12' '2024-03-01' '2024-09-19' '2024-03-08' '2024-02-22'
 '2024-02-20' '2024-09-20' '2024-07-17' '2024-01-18' '2024-07-06'
 '2024-07-31' '2024-04-11' '2024-01-22' '2024-05-28' '2024-06-03'
 '2024-03-19' '2024-09-30' '2024-01-10' '2024-05-10' '2024-01-11'
 '2024-02-15' '2024-07-19' '2024-03-06' '2024-10-17' '2024-01-26'
 '2024-04-04' '2024-03-25' '2024-06-11' '2024-09-17' '2024-08-23'
 '2024-10-21' '2024-08-01' '2024-09-25' '2024-04-16' '2024-05-08'
 '2024-05-16' '2024-08-05' '2024-08-19' '2024-06-24' '2024-04-19'
 '2024-09-27' '2024-09-18' '2024-06-07' '2024-09-09' '2024-10-15'
 '2024-02-26' '2024-10-31' '2024-08-18' '2024-08-21' '2024-04-29'
 '2024-10-30' '2024-01-19' '2024-04-15' '2024-10-24' '2024-08-30'
 '2024-10-29' '2024-11-06' '2024-06-12' '2024-10-25' '2024-07-24'
 '2024-05-13' '2024-09-12' '2024-06-26' '2024-07-26' '2024-06-25'
 '2024-02-23' '2024-02-19' '2024-03-11' '2024-07-11' '2024-03-18'
 '2024-09-24' '2024-05-14' '2024-03-17' '2024-08-03' '2024-02-06'
 '2024-10-27' '2024-01-23' '2024-03-20' '2024-07-03' '2024-03-04'
 '2024-07-22' '2024-01-15' '2024-01-29' '2024-05-25' '2024-06-23'
 '2024-08-17' '2024-11-09' '2024-03-29' '2024-03-12' '2024-01-24'
 '2024-08-31' '2024-10-02' '2024-04-09' '2024-10-06' '2024-06-09'
 '2024-02-03' '2024-05-11' '2024-03-13' '2024-11-11' '2024-04-06'
 '2024-03-02' '2024-04-02' '2024-09-11' '2024-05-27' '2024-10-04'
 '2024-05-21' '2024-06-04' '2024-11-02' '2024-05-29' '2024-08-20'
 '2024-02-08' '2024-07-20' '2024-06-13' '2024-05-20' '2024-02-12'
 '2024-03-03' '2024-11-12' '2024-05-19' '2024-07-27' '2024-01-16'
 '2024-04-05' '2024-02-09' '2024-03-30' '2024-07-12' '2024-09-22'
 '2024-07-02' '2024-07-21' '2024-02-07' '2024-08-22' '2024-07-23'
 '2024-02-18' '2024-06-19' '2024-11-08' '2024-01-09' '2024-10-08'
 '2024-10-11' '2024-01-28' '2024-11-13' '2024-09-15' '2024-04-20'
 '2024-10-26' '2024-06-02' '2024-11-01' '2024-06-08' '2024-01-14'
 '2024-03-21' '2024-05-12' '2024-04-03' '2024-05-26' '2024-02-24'
 '2024-02-28' '2024-04-14' '2024-04-13' '2024-11-10' '2024-06-29'
 '2024-08-09' '2024-03-24' '2024-04-12' '2024-03-23' '2024-10-12'
 '2024-04-27' '2024-08-11' '2024-09-14' '2024-11-04' '2024-11-16'
 '2024-03-16' '2024-11-03' '2024-03-31' '2024-04-28' '2024-08-10'
 '2024-08-25' '2024-02-13' '2024-10-13' '2024-06-01' '2024-05-18'
 '2024-09-29' '2024-09-28' '2024-07-28' '2024-07-14' '2024-08-04'
 '2024-09-07' '2024-02-05' '2024-06-16' '2024-05-04' '2024-05-03'
 '2024-01-13' '2024-07-07' '2024-06-22' '2024-02-04' '2024-04-07'
 '2024-10-20' '2024-02-10' '2024-01-20' '2024-05-24' '2024-04-21'
 '2024-05-05' '2024-01-27' '2024-09-08' '2024-06-30' '2024-11-17'
 '2024-02-11']

observamos que no hay erroes con las variables categoricas.

In [57]:
df_colocacion_agrupado.to_parquet(data_dir("interim", "datos_colocacion_limpios.parquet"))